.tx-table {
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

.tx-table td.Income { color: #22c55e; }
.tx-table td.Expense { color: #ef4444; }
